################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApp/bin/Debug/netcoreapp2.0
/WebApp/obj
/packages
/WebApi/bin/Debug/netcoreapp2.0
/WebApi/obj
