@{
    ViewData["Title"] = "Token";
}
<h2>@ViewData["Title"]</h2>
<h3>Your token</h3>

<textarea cols="100" rows="22">@ViewData["AccessToken"]</textarea>

<address>
    <strong>Support:</strong> <a href="mailto:ufab@ufab.io">ufab@ufab.io</a><br />
</address>
